@CHARSET "UTF-8";
#menu_selection {
 float: left;
 width: 67%;
 background: #fff;
 margin-top: 0;
 margin-right: 1.67em;
 border-right: 1px solid black;
 padding-top: 0;
 padding-right: 1em;
 padding-bottom: 20px;
 height: 500px;
}

#order_panel {
 padding-left: 2em;
 margin-top: 0;
 padding-top: 0;
 height: 100%;
}

#header {
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #660000;
	background-color: #FFFFCC;
	border: medium solid #000000;
	text-align: center;
	border-radius: 12px;
	-moz-border-radius: 12px;
	height:50px;
	
}

#tags .ui-selecting { background: #FEFF9F;
}
#tags .ui-selected { background-color:#eEeF8F;
}
#tags { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 

}
#tags li { 
	border: 1px solid #ccc;
	float: left; 
	width: 60px; 
	height: 60px; 
	font-size:1.1em;
	margin:3px;
	padding:0.4em;
	text-align:center;
	border-radius: 12px;
	-moz-border-radius: 12px;
}
#tags li:hover{ 
	background: #FEFF9F;
}
#tags li:active{ 
	background: ##eEeF8F;
}
#order_list{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#order_list li .ui-selecting{ background: #FEFF9F;
}
#order_list li:hover{ 
	background: #FEFF9F;
	text-decoration: none;
}
#order_list .ui-selected { background-color:#eEeF8F;
}